extends baseMember

block content
    style.
      .OfWidths {
      width: 30%;
      }
      .names {
      margin: 0 !important;
      font-size: 18px;
      }
      @media only screen and (min-width:980px) and (max-width:1080px) {
      .names {
      margin: 0 !important;
      font-size: 13px !important;
      }
      }

      @media only screen and (min-width:906px) and (max-width:980px) {
      .names {
      margin: 0 !important;
      font-size: 11px !important;
      }
      }
      @media only screen and (min-width:906px) and (max-width:980px) {
      .names {
      margin: 0 !important;
      font-size: 11px !important;
      }
      }
      @media only screen and (min-width:548px) and (max-width:906px) {
      .OfWidths {
      width: 40%;
      }
      .names {
      margin: 0 !important;
      font-size: 13px !important;
      }
      }
      @media only screen and (min-width:498px) and (max-width:548px) {
      .OfWidths {
      width: 40%;
      }
      .names {
      margin: 0 !important;
      font-size: 11px !important;
      }
      }
      @media only screen and (min-width:320px) and (max-width:498px) {
      .OfWidths {
      width: 100%;
      }
      }
      @media only screen and (min-width:0px) and (max-width:320px) {
      .OfWidths {
      width: 100%;
      }
      .names {
      margin: 0 !important;
      font-size: 13px !important;
      }
      }
      .d-noness {
      display: none !important;
      }
      .d-noness {
      display: none !important;
      }
      .notification-menu .dropdown-menu:after {
      display: none !important;
      }
      .modal-backdrop {
      background-color: black !important;
      opacity: 0.4 !important;
      width: 100% !important;
      height: 900px !important;
      z-index: 1050 !important;
      }
      .modal {
      z-index: 1060 !important;
      }
      .modal-content {
      border: none !important
      }
      .dataTables_wrapper table.dataTable.dtr-inline.collapsed>tbody>tr>.mainID:before {
      display: block !important;
      content: "+" !important;
      font-size: 20px !important;
      border-radius: 50% !important;
      display: flex !important;
      justify-content: center !important;
      align-items: center !important;
      background-color: #4f1419 !important;
      color: white !important;
      border-radius: 50%;
      height: 20px !important;
      width: 2px !important;
      padding: 0px 10px !important;
      font-weight: 800;
      }
    
    img.gitssss(src=`${AppSettings.logo}`, style="display:none")
    p.gitssss23(style="display:none") #{currentuser.email}
    .page-heading
      h3 Complete Category list
      ul.breadcrumb
        li
          a admin
        li
          a Category
        li
          a new_cat
    // body wrapper start
    .wrapper(style='min-height: 450px;')
      .row
        .col-lg-12
          .row
            .col-sm-12
              section.panel
                header.panel-heading
                  a(href='')
                    i.fa.fa-refresh.pointer.btn.btn-default
                  |  Category Wise Books
                  b.del_result
                .panel-body
                  section#no-more-tables
                    div(style='display: flex;flex-wrap: wrap;')
                     each item in categorieswiselist
                        .OfWidths(style=' padding: 10px; margin: 10px; border: 1px solid gray; border-radius: 10px; text-align: center; marg')
                          img(src='/imagesuse/zeroinfosys.com.png', style='width: 80%', alt='')
                          div(style='display: flex; justify-content: space-between; margin-top: 10px; align-items: center;')
                            p.names(style='color: #65cea7;')= item.name
                            a(href=`/CategoryWiseBooksMember/${item.name}`)
                              button.btn.btn-success.names View All Books

                  div
                    ul.pagination.pagination-lg
                      li
      script(src='https://code.jquery.com/jquery-3.2.1.min.js')
      script.
        $(function() {
        var url = $("#url").val();
        //delete cat
        $(".delete").click(function() {
        if (confirm("Are you sure you want to delete this record??")) {
        var key = $(this).data('record');
        $.ajax({
        type: "POST",
        url: url + "admin/Category/delete_cat",
        data: {
        id: key
        },
        success: function(result) {
        $('.del_result').html(result);
        $('.row_' + key).hide('fast', function() {
        $('.row_' + key).remove();
        });
        },
        error: function(request, status, error) {
        $('.del_result').html(' <b class="fa fa-info text-danger"> This can`t be delete! It`s related to some other info</b>');
        }
        });
        }
        });
        //update cat info
        $(".update_cat").click(function() {
        var key = $(this).data('record');
        $.ajax({
        type: "POST",
        url: url + "admin/Category/update_cat",
        data: {
        id: key,
        name: $("#cat" + key).val()
        },
        success: function(result) {
        $('.update_result').html(result);
        },
        error: function(request, status, error) {
        $('.update_result').html(request.responseText);
        }
        });
        });
        })
    // footer section start
    // main content end
    #DeleteBooks.modal.fadein
      .modal-dialog(role='document')
        .modal-content
          .modal-header
            h5.modal-title Delete Category
          .modal-body
            h4 Are you sure you want to delete this category?
          .modal-footer
            button.btn.btn-danger(type='button') Yes
            button.btn.btn-dark(type='button', data-dismiss='modal', style='color: white !important;  background-color: black !important;') Close
    #edusBooks.modal.fadein
      .modal-dialog(role='document')
        .modal-content
          .modal-header
            h5.modal-title Edit Category
          .modal-body
            label(for='') Enter Category  Name 
            input.form-control(type='text', name='', id='')
          .modal-footer
            button.btn.btn-danger(type='button') Yes
            button.btn.btn-dark(type='button', data-dismiss='modal', style='color: white !important;  background-color: black !important;') Close
    // common scripts for all pages
    script(src='/js/jquery-1.10.2.min.js')
    script(src='/js/jquery-ui-1.9.2.custom.min.js')
    script(src='/js/jquery-migrate-1.2.1.min.js')
    script(src='/js/modernizr.min.js')
    script(src='/js/jquery.nicescroll.js')
    script(src='https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js', integrity='sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo', crossorigin='anonymous')
    script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js', integrity='sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6', crossorigin='anonymous')
    // common scripts for all pages
    script(src='/js/scripts.js')
    script(src='https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js')
    script(src='https://cdn.datatables.net/1.10.25/js/dataTables.bootstrap4.min.js')
    script(src='https://cdn.datatables.net/responsive/2.2.8/js/dataTables.responsive.min.js')
    script(src='https://cdn.datatables.net/responsive/2.2.8/js/responsive.bootstrap4.min.js')
    script(src='https://unpkg.com/axios/dist/axios.min.js')
    script.
      $(document).ready(function() {
      $('.setitsaa').attr('src', $('.gitssss').attr('src'))
      $('.emailsetup').html($(".gitssss23").html());
      $('.opencatss').click(function() {
      $('.cats').toggleClass('d-noness');
      });
      $(document).on('click', '.btnEducss', function() {
      $('#edusBooks').modal('show')
      });
      $(document).on('click', '.btnDeltss', function() {
      $('#DeleteBooks').modal('show')
      });
      $('.dologout').on('click', async function(){
      const getTodoItems = async() => {
      try {
      const response = await axios.post(`https://library-fyp.herokuapp.com/api/v1/members/logout`);      
      }catch(errors) {
      console.log(errors)
      }
      }
      await getTodoItems()
      window.setTimeout(() => {
      location.assign(`/`);
      }, 2500);
      })
      $("#booksListTab").DataTable();
      });
