extends baseMember

block content
    img.gitssss(src=`${AppSettings.logo}`, style="display:none")
    p.gitssss23(style="display:none") #{currentuser.email}

    .page-heading
      h3 member panel
      ul.breadcrumb
        li
          a Member
        li
          a Dashboard
        li
          a change_password
    // body wrapper start
    .wrapper(style='min-height: 450px;')
      .row
        .col-md-2
        .col-md-8
          .row
            .col-md-12
              .panel
                p.alert.alert-info.text-center Update Your Password 
                .panel-body
                  form.changePasswordMember
                    .form-group
                      label Running password
                      .iconic-input
                        i.fa.fa-lock.text-success
                        input.form-control.passwordCurrent(type='password', placeholder='Old password', name='running_pass')
                    .form-group
                      label Set new password
                      .iconic-input
                        i.fa.fa-lock.text-success
                        input.form-control.password(type='password', placeholder='New password', name='new_pass')
                    .form-group
                      label Confirm new password
                      .iconic-input
                        i.fa.fa-lock.text-success
                        input.form-control.passwordConfirm(type='password', placeholder='Confirm new password', name='new_pass2')
                    .form-group
                      .iconic-input.text-center
                        b.result_pass.text-danger
                      .iconic-input.text-center
                        input.btn.btn-info(type='submit', name='saveData', value='Update Password')
                    .form-group(style="opacity:0")
                      .iconic-input.text-center
                        b.result_pass.text-danger
                      .iconic-input.text-center
                        input.getids(type='button', name='saveData', value='Update Password', data-id=ids)
        .col-md-2
      script(src='https://code.jquery.com/jquery-3.5.1.js')
    // footer section start
    // main content end
    #ViewBooks.modal.fadein
      .modal-dialog(role='document')
        .modal-content
          .modal-header
            h5.modal-title Book Details
          .modal-body
            .row
              .col-sm-3
                img(src='http://zeroinfosys.com/library/images/bok.png', style='max-width:100%;border-radius: 52%;')
              .col-sm-9.text-left
                a(href='http://zeroinfosys.com/library/Home/read_book/90') tess ( addition:  )
                br
                b.text-info Book Condition: 
                | normal 
                br
                b.text-info Book entry date: 
                | June 17, 2021
              .col-sm-12.text-left
                hr
                b.text-primary Description of the book: 
                br
                p This is amazing Book
          .modal-footer
            button.btn(type='button', style='color: white !important; background-color: black !important;', data-dismiss='modal') Close
    #DeleteBooks.modal.fadein
      .modal-dialog(role='document')
        .modal-content
          .modal-header
            h5.modal-title Delete Record
          .modal-body
            h4 Are you sure you want to delete this Book?
          .modal-footer
            button.btn.btn-danger(type='button') Yes
            button.btn.btn-dark(type='button', data-dismiss='modal', style='color: white !important;  background-color: black !important;') Close
    // Placed js at the end of the document so the pages load faster
    // common scripts for all pages
    script(type="module", src="./js/index.js")
    script(src='/js/jquery-1.10.2.min.js')
    script(src='/js/jquery-ui-1.9.2.custom.min.js')
    script(src='/js/jquery-migrate-1.2.1.min.js')
    script(src='/js/modernizr.min.js')
    script(src='/js/jquery.nicescroll.js')
    script(src='https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js', integrity='sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo', crossorigin='anonymous')
    script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js', integrity='sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6', crossorigin='anonymous')
    // common scripts for all pages
    script(src='/js/scripts.js')
    script(src='https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js')
    script(src='https://cdn.datatables.net/1.10.25/js/dataTables.bootstrap4.min.js')
    script(src='https://cdn.datatables.net/responsive/2.2.8/js/dataTables.responsive.min.js')
    script(src='https://cdn.datatables.net/responsive/2.2.8/js/responsive.bootstrap4.min.js')
    script(src='https://unpkg.com/axios/dist/axios.min.js')
    script.
      $(document).ready(function() {
      $('.setitsaa').attr('src', $('.gitssss').attr('src'))
      $('.emailsetup').html($(".gitssss23").html());     
      $('.dologout').on('click', async function(){
      const getTodoItems = async() => {
      try {
      const response = await axios.post(`https://library-fyp.herokuapp.com/api/v1/members/logout`);      
      }catch(errors) {
      console.log(errors)
      }
      }
      await getTodoItems()
      window.setTimeout(() => {
      location.assign(`/`);
      }, 2500);
      })
      })