doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  title Document
  link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css', integrity='sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm', crossorigin='anonymous')
  style.
    .hid{
    display:none;
    }
.container-fluid
  .row.mt-5
    .col-md-6.mx-auto
      .row.ok12
        .col-md-12.mx-auto
          .form-group
            label(for='') Verification code
            input.form-control.viri(type='text')
        .col-md-12.mx-auto(style="display:none")
          .form-group
            label.oksaa(for='') #{code}
            label.oksaaa(for='') #{emailof}
            input.okx.form-control(type='text')
        .col-md-12.mx-auto
          .form-group
            button.btn.btn-success.oza(type='button')
              | Submit


      .row.ok11.hid
        .col-md-12.mx-auto
          .form-group
            label(for='') New Password
            input.form-control.virix(type='text')
        .col-md-12.mx-auto
          .form-group
            button.btn.btn-success.oza67(type='button')
              | Reset Password

script(src='https://code.jquery.com/jquery-3.2.1.slim.min.js', integrity='sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN', crossorigin='anonymous')
script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js', integrity='sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q', crossorigin='anonymous')
script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js', integrity='sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl', crossorigin='anonymous')
script(src='https://unpkg.com/axios/dist/axios.min.js')
script.
  let abc = document.querySelector('.oksaa').innerHTML;
  document.querySelector('.okx').value = abc;
  document.querySelector('.oza').addEventListener('click', async function(){
  console.log('hi')
  if(String(document.querySelector('.okx').value) === String(document.querySelector('.viri').value)){
  document.querySelector(".ok12").classList.add("hid");
  document.querySelector(".ok11").classList.remove("hid");
  }
  else{
      alert("Code Not Matched");
  }
  })
  document.querySelector('.oza67').addEventListener('click', async function(){
  const getTodoItems = async() => {
  try {
  const response = await axios.get(`https://library-fyp.herokuapp.com/api/v1/members/ByEmail/${document.querySelector('.oksaaa').innerHTML}`);
  console.log(response.data.data[0]._id);
  var data= new FormData();
  data.append('password', document.querySelector('.virix').value);
  var dit = await axios.post(`https://library-fyp.herokuapp.com/api/v1/members/resetpassword/${response.data.data[0]._id}`, data);
  console.log(dit);
  alert("Password Changed 🎉");
  window.setTimeout(() => {
  location.assign(`/`);
  });  
  }catch(errors) {
  alert('Account Not Found')
  }
  }
  await getTodoItems()
  });